:root{
  --sc-width : 10px;
  --sc-track-color : #444654;
  --sc-track-hover-color : #797a85;

  --resume-r-pd : 10px; 

  --resume-logo-color : #9b9d9e; 
}

.wrapper{
  position: relative;
  min-width: 100vw;
  min-height: 100vh;
  overflow: hidden;
  padding: 0;
}

.resume-body{
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  overflow-y: scroll;
  padding-left: var(--resume-r-pd) !important;
  padding-right: calc(var(--resume-r-pd) + var(--sc-width) + 2px) !important;

}

.resume-body::-webkit-scrollbar {
  width: var(--sc-width);
  display: none;

}
.resume-body:hover::-webkit-scrollbar{
  display: block;
}
.resume-body:hover{
  padding-right: calc(var(--resume-r-pd) + 2px) !important; /* sc-width + 2px border*/
}
/* Track */
.resume-body::-webkit-scrollbar-track {
  border-radius: 10px;
}
 
/* Handle */
.resume-body::-webkit-scrollbar-thumb {
  background-color: var(--sc-track-color);
  border-radius: 20px;
  transition: transform 0.3s ease-in-out;
}

/* Handle on hover */
.resume-body::-webkit-scrollbar-thumb:hover {
  background: var(--sc-track-hover-color); 
  transform: scale(1.2);
}

.nav-logo{
  width: 32px;
  height: 32px;
  fill : #fff;
}

.card-row{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 10px;
}

.list-group{
  list-style: disc outside;
}

.resume-col-left>div{
  margin-top: 10px;
}
.resume-col-right>div{
  margin-top: 10px;
}


.panel-data{
  display: flex;
  flex-direction: column;
}
.panel-image{
  width: 160px;
  height: 160px;
}
.panel-image>img{
  height: 100%;
  width: auto;
  aspect-ratio: 1 / 1;
}
